.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social {
  margin: 0 0.5rem;
  color: var(--accent-color);
  transition: color 0.2s ease-in-out;
}

.social:hover {
  color: var(--flamboyant-color);
}

.linkedin {
  color: var(--accent-color);
}

.github {
  color: var(--accent-color);
}
